.search-form {
  position: relative;
  top: 55%;
  left: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px var(--shadow-light);
  transform: translate(-50%, -50%);
  background: var(--color-base-white);
  transition: all 0.3s ease;
  &:focus {
    box-shadow: 0 3px 4px var(--shadow-dark);
  }
}

.search-input {
  position: absolute;
  top: 7px;
  left: 45px;
  font-size: 14px;
  background: var(--color-base-white);
  color: var(--color-accent-grey);
  width: 285px;
  height: 25px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-button {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  border: var(--color-base-white);
  color: var(--color-primary-bg);
  background: none;
  cursor: pointer;
}

.search-icon {
  width: 1.7em;
  height: 1.7em;
}

.radio-toolbar {
  width: 24em;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-accent-pink);
}

.select {
  width: 17em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-primary);
}

.select p{
  text-align: center;
}
.select button, 
.select input {
  margin: 0 5px;
  outline: none;
  background-color: var(--color-primary);
  color: var(--color-base-white);
  border-radius: 4px;
  box-shadow: 0 6px 8px var(--shadow-light);
  &:hover {
    color: var(--color-accent-pink);
    cursor: pointer;
  }
}

.select button:hover, 
.select input:hover {
  background-color: var(--color-secondary-bg);
  color: var(--color-accent-pink);
  border-color: var(--color-secondary-bg);;
  box-shadow: 0 6px 8px var(--shadow-light);
  cursor: pointer;
}

.select button:disabled {
  color: red;
}

select {
  margin: 0 .5em;
}

.radio-toolbar label {
  display: inline-block;
  background-color: var(--color-primary-bg);
  color: var(--color-accent-grey);
  padding: 5px 15px;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 40px;
  box-shadow: 0 6px 8px var(--shadow-light);
}

.radio-toolbar label:hover {
  background-color: var(--color-base-white);
  color: var(--color-accent-pink);
}

