.not-found {
    background-image: url("../../assets/img/not-found.png");
    height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
  }